/* .box2 div:nth-child(1) {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 16px;
    z-index: 100;
    margin-top:10px;
    margin-left:10px;
    /* display:none; */
    /* border: 6px solid rgb(245, 128, 226); */
/* }  */
.box2{
    width: 60px;
    height: 60px;
    left:var(--ik);
    /* left:100px; */
    /* display: none; */
    top:100px;
    border-radius:100%;
    background-color: transparent;
    position: absolute;
    border:5px dotted rgb(242, 94, 255);
    /* position: fixed; */
    /* position: sticky; */
    /* display: block; */
    animation: animate23 1s linear normal forwards;
}
@keyframes animate23 {
    0% {
        display: block;
        transform: scale(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.2) rotate(100deg);
        opacity: 0;
    }
}
.abso{
    height:100%;
    width:100%;
    position: absolute;
    /* background-color: pink; */
}